@charset "utf-8";

header {
    margin: auto;
    width: 100%;
    font-size: 1em;
}
#top {
    margin: 15px 0 5px 0;
    width: 100%;
    height: 60px;
}
#logo {
    width: 500px;
    float: left;
    position: relative;
}
#logo-img {
    height: 35px;
}
#code {
    text-align: center;
    width: 140px;
    height: 30px;
    float: left;
    top: 30px;
    position: relative;
    font-size: 12px;
}
#mojisize {
    font-size: 12px;
    text-align: center;
    width: 80px;
    height: 20px;
    float: left;
    top: 30px;
    position: relative;
}
.ch-moji-size {
    float: left;
    top: 25px;
    position: relative;
    margin: 0 3px 0 3px;
}
header ul li {
    text-align: center;
    width: 80px;
    float: left;
    height: 15px;
    list-style: none;
    overflow: hidden;
    font-size: 12px;
}
#search-bar {
    height: 30px;
    width: 160px;
    float: left;
    position: relative;
    top: 10px;
    margin-left: 12px;
}
#search-input {
    height: 30px;
    width: 130px;
    position: relative;
    float: left;
}
