/*--------------for all--------------------------*/
body {
	color: #5f5039;
	font-size: 18px;
    line-height: 1.5;
    width: 1000px;
    margin: auto;
}
header, nav, footer {
    margin: auto;
    width: 1000px;
    font-size: 12px;
}
html{
    scroll-behavior: smooth;
}

/*--------header-------*/
#top {
    margin: 15px 0 5px 0;
    width: 1000px;
    height: 60px;
}
#logo {
    width: 500px;
    float: left;
    position: relative;
}
#logo-img {
    height: 35px;
}
#code {
    text-align: center;
    width: 140px;
    height: 30px;
    float: left;
    top: 30px;
    position: relative;
}
#mojisize {
    text-align: center;
    width: 80px;
    height: 20px;
    float: left;
    top: 30px;
    position: relative;
}
.ch-moji-size {
    float: left;
    top: 25px;
    position: relative;
    margin: 0 3px 0 3px;
}
header ul li {
    text-align: center;
    width: 80px;
    height: 15px;
    list-style: none;
    float: left;
    overflow: hidden;
}
#search-bar {
    height: 30px;
    width: 160px;
    float: left;
    position: relative;
    top: 10px;
    margin-left: 12px;
}
#search-input {
    height: 30px;
    width: 130px;
    position: relative;
    float: left;
}

/*--------nav-------------*/
#navapp {
    width: 100%;
    background-color: rgba(38,45,123,1);
}
.nav-btn {
    width: 20%;
    height: 30px;

}