@charset "utf-8";
#maincon {
  float:  left;
  position: relative;
  width: 68%;
  margin-left: 2%;
  height: 1000px;
}
#boxes {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0;
}
.mainbox {
  float: left;
  margin: 20px 5px 10px 5px;
  width: 48.5%;
  height: 140px;
}
.boxtitle {
  display: inline-block;
  width: 100%;
  height: 40px;
  background-color: white;
  border-bottom: turquoise 2px solid;
}
.boxblock {
  float: left;
  height: 100%;
  width: 16px;
  background-color: turquoise;
}
.boxtitle h1 {
  display: inline-block;
  color: rgba(38,45,123);
  font-size: 1.167em;
  font-weight: bolder;
  margin-left: 14px;
  margin-top: 8px;
}
.boxcon ul {
  margin: 0;
  padding: 0;
}
.boxcon ul li {
  font-size: 0.833em;
  color: rgba(38,45,123);
  display: inline-block;
  width: 46%;
  margin: 0;
  margin-left: 10px;
  padding: 5px 0.2%;
}
#newslist {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 10px 0 0 0;
}
#genres {
  width: 100%;
  border-bottom: rgba(38,45,123,1) 2px solid;
}
.genre {
  display: inline-block;
  width: 24.5%;
  background-color: rgb(0, 0, 0,0.3);
  margin: 0 0.5% 0 0;
  padding: 10px 0;
  text-align: center;
  color: white;
  font-weight: bolder;
}
#genre4 {
  margin: 0;
  width: 25%;
}
.genre-focus {
  background-color: rgba(38,45,123,1);
}
.newscons {
  width: 100%;
}
.newscon {
  width: 100%;
  display: inline-block;
  height: 60px;
}
.newscon h4 {
  display: inline-block;
  color: black;
  font-size: 13px;
  width: 15%;
  margin: 20px 0;
  font-weight: normal;
}
.newscon h5 {
  font-size: 10px;
  display: inline-block;
  color: white;
  width: 13%;
  text-align: center;
  margin: 0 1%;
}
.news {
  background-color: goldenrod;
}
.camp {
  background-color: tomato;
}
.notice {
  background-color: dodgerblue;
}
.newslink {
  display: inline-flex;
  width: 68%;
  margin: 0;
  margin-left: 2%;
  font-size: 1em;
  height: 60px;
}