@charset "utf-8";
#sidebar {
  float:  left;
  margin-left: 0;
  position: relative;
  width: 30%;
}
#netbank {
  display: block;
  width: 83.3%;
  height: auto;
  margin: 25px auto;
  text-align: center;
}
#sidebar h2 {
  display: block;
  color: rgba(38,45,123);
  font-size: 1.3em;
  font-weight: bolder;
  margin: 10px 0;
}
#netbank p {
  color: black;
  font-size: 0.8em;
  margin: 5px auto;
}
#netbank a {
  display: inline-block;
}
.abox {
  display: inline-block;
  width: 83.33%;
  padding: 10px 0;
  text-align: center;
  margin: 5px 0;
  font-size: 0.9em;
  color: seashell;
  text-decoration: none;
  background-color: rgba(38,45,123);
}
.bbox {
  display: inline-block;
  width: 83.33%;
  padding: 12px 0;
  text-align: center;
  margin: 5px 0;
  font-size: 0.9em;
  color: seashell;
  text-decoration: none;
  background-color: rgba(38,45,123);
}
.abox:hover {
  background-color: rgb(0, 60, 255);
}
#tologin {
  width: 100%;
}
#tosignup {
  background-color: #8fc31f;
  margin-bottom: 0;
  width: 100%;
}
#toforget {
  font-size: 0.583em;
}
#guide {
  text-align: center;
  margin: 50px 0;
  display: block;
}
#guidelist {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}
.guidebox {
  display: inline;
  margin: 0 auto;
  padding: 0;
  float: left;
}
#guidelist a {
  display: inline-block;
  margin: 0.1em;
  padding: auto;
  width: 7.52em;
  height: 7.52em;
  text-align: center;
  background-color: rgba(38,45,123);
  color: seashell;
  text-decoration: none;
  font-size: 0.833em;
}
#guidelist a:hover {
  background-color: rgb(0, 60, 255);
}
.half {
  display: block;
  content: "";
  height: 0.4em;
}
#toacntguide {
  margin-top: 50px;
}
#tocm, #toloan {
  background-color: #8fc31f;
}
#tosignup:hover, #tocm:hover, #toloan:hover {
  background-color: #556e11;
}
#tocm {
  margin-top: 50px;
}
#tocaution {
  display: block;
  margin: 50px 0;
}
#cautionimg {
  width: 250px;
}
